<div class="container" id="dishList" loader>
    <div class="row dish_create">
        <a ui-sref="dish.create" class="btn btn-warning">Dish Createt</a>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="dish in DishCtrl.dishes">
            <img ui-sref="dish.show({id: {{dish.id}}})" ng-src="{{dish.medias[0].url}}" alt="Card image cap" style="width:100%;">
            <h4 class="card-title">{{dish.name}}</h4>
            <h6 class="card">${{dish.price}}</h6>
            <a ui-sref="kitchen.show({id: {{dish.kitchen_id}}})">Kitchen: {{dish.kitchen_id}}</a>
            <p class="card-text">{{dish.description}}</p>
            <a ui-sref="dish.show({id: {{dish.id}}})" class="btn btn-primary">View Detail</a>
        </div>
    </div>

    <div class="col-sm-4">
        <ui-gmap-google-map center='DishCtrl.map.center' zoom='DishCtrl.map.zoom'></ui-gmap-google-map>
    </div>
</div>