<h2>Add Payout Method</h2>
<br>
<md-content layout-padding>
	<label>Country: </label>
	{{plCtrl.account.country}}
</md-content>
<form class="form-validation" ng-submit="plCtrl.updateAddress()" name="form" novalidate>
	<div>
		<md-autocomplete
				ng-disabled="!plCtrl.account.country"
				md-no-cache="true"
				md-selected-item="plCtrl.selectedState"
				md-search-text="searchState"
				md-items="state in plCtrl.querySearch(searchState, plCtrl.getStates(plCtrl.account.country))"
				md-min-length="0"
				md-item-text="state.display"
				placeholder="Select State / Province"
				md-require-match
				required>
			<md-item-template>
				<span md-highlight-flags="^i">{{state.display}}</span>
			</md-item-template>
			<md-not-found>
				No matches found.
			</md-not-found>
			<div ng-message="md-require-match">Please select an existing State / Province.</div>
		</md-autocomplete>
	</div><br>
	<div>
		<md-input-container class="md-block">
			<label for="payoutCity">City</label>
			<input id="payoutCity" type="text" ng-model="plCtrl.address.city" required/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutLine1">Address Line 1</label>
			<input id="payoutLine1" type="text" ng-model="plCtrl.address.line1" required/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutLine2">Address Line 2</label>
			<input id="payoutLine2" type="text" ng-model="plCtrl.address.line2"/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutPostalCode">Zip Code / Postal Code</label>
			<input id="payoutPostalCode" type="text" ng-model="plCtrl.address.postal_code" required/>
		</md-input-container>
	</div>
	<md-button flex class="md-raised md-primary pull-right" type="submit" ng-disabled="form.$invalid">
		Update
	</md-button>
</form>