<div class="row col-md-4 col-md-offset-4">
	<div class="pull-left">
		<label>{{label}}</label>
		<input type="checkbox" ng-model="active" ng-change="toggleBusinessHour()"/>
	</div>
	<div class="pull-right">
		<wy-time-picker
				ng-show="active"
				data-dropdown-toggle-state="settings.dropdownToggleState"
				data-time-settings="settings.time"
				data-theme="settings.theme"
				data-no-range="settings.noRange"
				data-format="settings.format"
				data-no-validation="settings.noValidation"
				data-apply-callback="onApplyTimePicker(settings.time)"
				data-clear-callback="onClearTimePicker()"
				ng-model="settings.time">
		</wy-time-picker>
	</div>
</div>