<div>
    <div ng-if="TYPE === 'kitchen' && for === 'like'">
        <span ng-if="!liked"><i class="large-icon fa fa-thumbs-o-up" ng-click="addReaction(LIKE)"></i>{{numLikes}}</span>
        <span ng-if="liked"><i class="large-icon fa fa-thumbs-up" ng-click="removeReaction(LIKE)"></i>{{numLikes}}</span>
        <span ng-if="!disliked"><i class="large-icon fa fa-thumbs-o-down" ng-click="addReaction(DISLIKE)"></i>{{numDislikes}}</span>
        <span ng-if="disliked"><i class="large-icon fa fa-thumbs-down" ng-click="removeReaction(DISLIKE)"></i>{{numDislikes}}</span>
    </div>
    <div ng-if="TYPE === 'dish'  && for === 'fork'" clsss="fork-container">
        <span ng-if="!forked">{{numForks}}<img ng-src="images/fork_empty.ico" ng-click="addReaction(FORK)" class="small-image-icon"></span>
        <span ng-if="forked">{{numForks}}<img ng-src="images/fork_active.ico" ng-click="removeReaction(FORK)" class="small-image-icon"></span>
    </div>
    <div ng-if="TYPE === 'kitchen' && for === 'subscribe'">
        <label ng-if="!subscribed" ng-click="addReaction(SUBSCRIBE)">{{numSubscribes}}<i class="material-icons">playlist_add_check</i>Subscribe it!</label>
        <label ng-if="subscribed" ng-click="removeReaction(SUBSCRIBE)">{{numSubscribes}}<i class="material-icons">check_circle</i>Subscribing</label>
    </div>
</div>