<div class="container" ng-controller="ReactionController as vm">

    <span ng-if="!vm.liked"><i class="fa fa-thumbs-o-up" ng-click="vm.addReaction(reactionable.id, 1)"></i>{{vm.numLikes}}</span>
    <span ng-if="vm.liked"><i class="fa fa-thumbs-up" ng-click="vm.removeReaction(reactionable.id, 1)"></i>{{vm.numLikes}}</span>
    <span ng-if="!vm.disliked"><i class="fa fa-thumbs-o-down" ng-click="vm.addReaction(reactionable.id, 0)"></i>{{vm.numDislikes}}</span>
    <span ng-if="vm.disliked"><i class="fa fa-thumbs-down" ng-click="vm.removeReaction(reactionable.id, 0)"></i>{{vm.numDislikes}}</span>

</div>