<div class="container" id="RatingList" loader>
    <!--we will add a column in media table to specify whether it's a thumbnail so that we can show it in here-->
    <div class="row">
        <div class="col-md-8">
            <!--TODO: Seperate RATE CREATE PAGE FOR BETTER UX AND USER FLOW <br>-->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-10">
                        Comment:<br>
                        <textarea class="form-control" ng-model="RatingCtrl.comment" required/>
                    </div>
                    <div class="col-md-offset-2">
                        <br>
                        <a ng-click="RatingCtrl.rateDish()" class="btn btn-primary">Rate Dish</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-3">Taste:</div>
                    <div class="col-md-9">
                        <ng-rate-it resetable="false" ng-model="RatingCtrl.taste" step="1.0"></ng-rate-it>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-3">Visual:</div>
                    <div class="col-md-9">
                        <ng-rate-it resetable="false" ng-model="RatingCtrl.visual" step="1.0"></ng-rate-it>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">Quantity:</div>
                    <div class="col-md-9">
                        <ng-rate-it resetable="false" ng-model="RatingCtrl.quantity" step="1.0"></ng-rate-it>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row" ng-repeat="rating in RatingCtrl.ratings">
        <br>
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
                <strong>(User) {{rating.user_id}} </strong>
            </div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <div class="col-md-3">
                                    Taste:
                                </div>
                                <div class="col-md-9">
                                    <ng-rate-it ng-model="rating.taste_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="col-md-3">
                                    Visual:
                                </div>
                                <div class="col-md-9">
                                    <ng-rate-it ng-model="rating.visual_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    Quantity:
                                </div>
                                <div class="col-md-9">
                                    <ng-rate-it ng-model="rating.quantity_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pull-right">
                                <button class="btn btn-default" ng-click="textBtnForm.$show()"
                                        ng-hide="textBtnForm.$visible">
                                    edit
                                </button>
                                <a ng-click="RatingCtrl.destroyRating(rating.id)" class="btn">Delete</a>
                            </div>
                        </div>
                        <span class="text-muted">
                                {{rating.updated_at}}
                        </span>
                    </div>
                    <div class="panel-body">
                        <span e-style="width: 343%;" editable-textarea="rating.comment" e-form="textBtnForm"
                              onbeforesave="RatingCtrl.updateComment(rating.id, rating.taste_rating, rating.visual_rating, rating.quantity_rating, $data)">
                    {{rating.comment || 'empty'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" ng-click="RatingCtrl.getRatings()">Load More</a>
</div>

