<div class="container" id="RatingList" ng-controller="RatingController as RatingCtrl" loader>
    <!--we will add a column in media table to specify whether it's a thumbnail so that we can show it in here-->
    <div class="row">
        <h1>Average Rating:</h1>
        <div class="average">
            Taste: {{RatingCtrl.avg.taste_rating}}
            <ng-rate-it ng-model="RatingCtrl.avg.taste_rating" max="5" read-only="true"></ng-rate-it>
            Visual: {{RatingCtrl.avg.visual_rating}}
            <ng-rate-it ng-model="RatingCtrl.avg.visual_rating" max="5" read-only="true"></ng-rate-it>
            Quantity: {{RatingCtrl.avg.quantity_rating}}
            <ng-rate-it ng-model="RatingCtrl.avg.quantity_rating" max="5" read-only="true"></ng-rate-it>
        </div>
        <div class="row">
            TODO: Seperate RATE CREATE PAGE FOR BETTER UX AND USER FLOW <br>

            Taste
            <ng-rate-it ng-model="RatingCtrl.taste" step="1.0"></ng-rate-it>
            {{RatingCtrl.taste}}
            <br/>
            Visual
            <ng-rate-it ng-model="RatingCtrl.visual" step="1.0"></ng-rate-it>
            {{RatingCtrl.visual}}
            <br/>
            Quantity
            <ng-rate-it ng-model="RatingCtrl.quantity" step="1.0"></ng-rate-it>
            {{RatingCtrl.quantity}}
            <br/>
            Description:<br>
            <textarea ng-model="RatingCtrl.comment"/><br>
            <br><br>
            <a ng-click="RatingCtrl.rateDish()" class="btn btn-primary">Rate Dish</a>

        </div>
        <div class="row" ng-repeat="rating in RatingCtrl.ratings">
            <br>
            <div><strong>Author:</strong>
                {{rating.author_id}}
            </div>
            <div><strong>Taste:</strong> {{rating.taste_rating}}
                <ng-rate-it ng-model="rating.taste_rating" max="5" read-only="true"></ng-rate-it>
            </div>
            <div><strong>Visual:</strong> {{rating.visual_rating}}
                <ng-rate-it ng-model="rating.visual_rating" max="5" read-only="true"></ng-rate-it>
            </div>
            <div><strong>Quantity:</strong> {{rating.quantity_rating}}
                <ng-rate-it ng-model="rating.quantity_rating" max="5" read-only="true"></ng-rate-it>
            </div>
            <div><strong>Comment:</strong>
                <span editable-textarea="rating.comment" e-form="textBtnForm"
                      onbeforesave="RatingCtrl.updateComment(rating.id, rating.taste_rating, rating.visual_rating, rating.quantity_rating, $data)">
                    {{rating.comment || 'empty'}}
                </span>
                <button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                    edit
                </button>
                <a ng-click="RatingCtrl.destroyRating(rating.id)" class="btn">Delete</a>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" ng-click="RatingCtrl.getRatings()">Load More</a>
</div>

