<div class="with-sub-index">
    <ol>
        <li>
            <a href="#" scroll-to="colors">Colors</a>
        </li>
        <li>
            <a href="#" scroll-to="typography">Typography</a>
            <ol>
                <li>
                    <a href="#" scroll-to="typography-elements">Elements</a>
                </li>

                <li>
                    <a href="#" scroll-to="typography-fonts">Fonts</a>
                </li>

                <li>
                    <a href="#" scroll-to="typography-font-color">Font Color</a>
                </li>
            </ol>
        </li>

        <li>
            <a href="#" scroll-to="form">Form</a>
            <ol>
                <li>
                    <a href="#" scroll-to="form-bootstrap">Bootstrap</a>
                </li>

                <li>
                    <a href="#" scroll-to="form-material">Material</a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#" scroll-to="pagination">Pagination</a>
        </li>
    </ol>
</div>


<div class="panel panel-default" id="colors">
    <div class="panel-heading">
        <h3>Colors</h3>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-3">
                <div class="color-block bg-primary">Primary Color</div>
            </div>

            <div class="col-md-3">
                <div class="color-block bg-secondary">Secondary Color</div>
            </div>

            <div class="col-md-3">
                <div class="color-block bg-ternary">Ternary Color</div>
            </div>

            <div class="col-md-3">
                <div class="color-block bg-quaternary">Quaterly Color</div>
            </div>

            <div class="col-md-3">
                <div class="color-block bg-primary">emerald-green(Primary Color)</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #88B04B">greenery</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #EEA5C5">prism-pink</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #b53389">fandango</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #FF770D">orange-popsicle</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #F8E72C">blazing-yellow</div>
            </div>

            <div class="col-md-3">
                <div class="color-block" style="background-color: #EDF1FE">brilliant-white</div>
            </div>

        </div>
    </div>
</div>


<div class="panel panel-default" id="typography">
    <div class="panel-heading">
        <h3>Typography</h3>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default " id="typography-elements">
                    <div class="panel-heading">
                        <h4>Elements</h4>
                    </div>
                    <div class="panel-body">
                        <h1>Header h1</h1>
                        <h2>Header h2</h2>
                        <h3>Header h3</h3>
                        <h4>Header h4</h4>
                        <h5>Header h5</h5>
                        <h6>Header h6</h6>
                        <br/>
                        <p>Paragraph <br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
                            quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
                            eros. In sed ornare nulla.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default " id="typography-fonts">
                    <div class="panel-heading">
                        <h4>Fonts</h4>
                    </div>
                    <div class="panel-body">
                        <p>Default: <br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
                            quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
                            eros. In sed ornare nulla.
                        </p>


                        <p class="secondary-font">Secondary: <br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
                            quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
                            eros. In sed ornare nulla.
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default " id="typography-font-color">
                    <div class="panel-heading">
                        <h4>Font Color</h4>
                    </div>
                    <div class="panel-body">
                        <p class="font-primary">Primary Color</p>
                        <p class="font-secondary">Secondary Color</p>
                        <p class="font-ternary">Ternary Color</p>
                        <p class="font-quaternary">Quaternary Color</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default" id="form">
    <div class="panel-heading">
        <h3>Form</h3>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default " id="form-bootstrap">
                    <div class="panel-heading">
                        <h4>Bootstrap</h4>
                    </div>
                    <div class="panel-body">
                        <p class="font-primary">Primary Color</p>
                        <p class="font-secondary">Secondary Color</p>
                        <p class="font-ternary">Ternary Color</p>
                        <p class="font-quaternary">Quaternary Color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default " id="form-material">
                    <div class="panel-heading">
                        <h4>Material</h4>
                    </div>
                    <div class="panel-body">


                        <md-content layout-padding>
                            <div>
                                <form name="userForm">
                                    <div layout-gt-xs="row">
                                        <md-input-container>
                                            <label>label</label>
                                            <input type="text" placeholder="placeholder">
                                        </md-input-container>
                                        <md-input-container>
                                            <label>label</label>
                                            <input type="text">
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Client Email</label>
                                            <input required type="email" name="clientEmail"
                                                   ng-model="project.clientEmail"
                                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

                                            <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your email must be between 10 and 100 characters long and look like
                                                    an
                                                    e-mail address.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-xs="row">
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>(Disabled)</label>
                                            <input disabled>
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <input mdc-datetime-picker="" date="true" time="true" type="text"
                                                   id="datetime"
                                                   placeholder="Date" show-todays-date="true" min-date="now"
                                                   ng-model="dateTime" class=" md-input">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>select</label>
                                            <md-select ng-model="user.selct">
                                                <md-option ng-repeat="state in ['1','2','3','4','5']" value="{{state}}">
                                                    {{state}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Validation</label>
                                            <input name="postalCode" ng-model="user.postalcode" placeholder="12345"
                                                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                                <div ng-message="required" class="my-message">You must supply a postal
                                                    code.
                                                </div>
                                                <div ng-message="pattern" class="my-message">That doesn't look like a
                                                    valid postal
                                                    code.
                                                </div>
                                                <div ng-message="md-maxlength" class="my-message">
                                                    Don't use the long version silly...we don't need to be that
                                                    specific...
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <md-input-container class="md-block">
                                        <label>Textarea</label>
                                        <textarea ng-model="user.biography" md-maxlength="150" rows="5"
                                                  md-select-on-focus></textarea>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Hourly Rate (USD)</label>
                                        <input required type="number" step="any" name="rate" ng-model="project.rate"
                                               min="800"
                                               max="4999" ng-pattern="/^1234$/"/>

                                        <div ng-messages="userForm.rate.$error" multiple md-auto-hide="false">
                                            <div ng-message="required">
                                                You've got to charge something! You can't just <b>give away</b> a
                                                Missile
                                                Defense
                                                System.
                                            </div>

                                            <div ng-message="min">
                                                You should charge at least $800 an hour. This job is a big deal... if
                                                you
                                                mess up,
                                                everyone dies!
                                            </div>

                                            <div ng-message="pattern">
                                                You should charge exactly $1,234.
                                            </div>

                                            <div ng-message="max">
                                                {{userForm.rate.$viewValue | currency:"$":0}} an hour? That's a
                                                little
                                                ridiculous. I
                                                doubt even Bill Clinton could afford that.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <md-checkbox name="tos" ng-model="project.tos" class="md-primary" required>
                                            I accept the terms of service.
                                        </md-checkbox>
                                        <div ng-messages="userForm.tos.$error" multiple md-auto-hide="false">
                                            <div ng-message="required">
                                                You must accept the terms of service before you can proceed.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <md-switch class="md-primary" name="special" ng-model="project.special"
                                                   required>
                                            Enable special options.
                                        </md-switch>
                                        <div ng-messages="userForm.special.$error" multiple>
                                            <div ng-message="required">
                                                You must enable all special options before you can proceed.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-radio-group ng-model="data.group1">

                                        <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                                        <md-radio-button value="Banana"> Banana </md-radio-button>
                                        <md-radio-button value="Mango">Mango</md-radio-button>

                                    </md-radio-group>

                                    <div>
                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                            <md-button class="md-raised" type="submit">Submit</md-button>
                                            <md-button class="md-raised md-primary">Primary</md-button>
                                            <md-button ng-disabled="true" class="md-raised bg-primary">Disabled</md-button>
                                            <md-button class="md-raised md-warn">Warn</md-button>
                                            <md-button class="md-raised bg-danger">Success</md-button>
                                            <md-button class="md-raised bg-success">Info</md-button>
                                            <div class="label">Raised</div>
                                        </section>
                                    </div>

                                    <p style="font-size:.8em; width: 100%; text-align: center;">
                                        Make sure to include <a href="https://docs.angularjs.org/api/ngMessages"
                                                                target="_blank">ngMessages</a> module when using
                                        ng-message
                                        markup.
                                    </p>
                                </form>
                            </div>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="pagination">
    <div class="panel-heading">
        <h3>Pagination</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <ul uib-pagination total-items="200" ng-model="DishCtrl.currentPage" items-per-page="8"
                boundary-links="true" force-ellipses="true" max-size="5"
                ng-change=""></ul>
        </div>
    </div>
</div>