<h2>EDIT INFO</h2>
<hr>
<div class="userEmail">
    <label class="control-label" for="userEmail">Email:</label>
    <input class="card-text" id="userEmail"/>
</div>
<div class="userFirstName">
    <label class="control-label" for="userFirstName">First Name:</label>
    <input class="card-text" id="userFirstName"/>
</div>
<div class="userLastName">
    <label class="control-label" for="userLastName">Last Name:</label>
    <input class="card-text" id="userLastName"/>
</div>
<div class="userPhone">
    <label class="control-label" for="userPhone">Phone:</label>
    <input class="card-text" id="userPhone"/>
</div>
<div class="userAddress">
    <label class="control-label" for="userAddress">Address:</label>
    <input class="card-text" id="userAddress"/>
</div>

<button ui-sref="user.profile.info.view">Update</button>