<h2>MY ORDER</h2>
<hr/>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Kitchen</th>
            <th>Date & Time</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Cold Noodle</td>
            <td>3</td>
            <td>$33.40</td>
            <td>Jun's 1st Kitchen</td>
            <td>2017-05-05 6:03pm</td>
            <td>Order Received</td>
            <td><button>Cancel</button></td>
        </tr>
        <tr>
            <td>Tomato Pasta</td>
            <td>2</td>
            <td>22.50</td>
            <td>Jun's 2nd Kitchen</td>
            <td>2017-05-05 3:03pm</td>
            <td>Ready For Pickup</td>
            <td></td>
        </tr>
        <tr>
            <td>BiBimBab</td>
            <td>1</td>
            <td>$8.90</td>
            <td>Jun's 2nd Kitchen</td>
            <td>2017-05-05 12:13pm</td>
            <td>Picked Up</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
