<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-validation" name="form" ng-submit="LoginCtrl.login()" novalidate>
            <div class="form-group">
                <h2 class="text-center">Login</h2><br>
                <!--Email-->
                <div class="user-email">
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" ng-model="LoginCtrl.email" required/>
                        <div class="field-message" ng-messages="form.email.$error" ng-if='form.email.$touched'
                             ng-cloak>
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Must be a valid email</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Password-->
                <div class="user-password">
                    <md-input-container class="md-block">
                        <label for="userPassword">Password</label>
                        <input id="userPassword" type="password" name="password"
                               ng-model="LoginCtrl.password"
                               ng-minlength="6" required/>
                        <div class="field-message" ng-messages="form.password.$error"
                             ng-if='form.password.$touched'
                             ng-cloak>
                            <div ng-message="required">Password is required</div>
                            <div ng-message="minlength">Password must have minimum 6 characters</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Button-->
                <div class="row submit">
                    <div class="col-sm-1">
                        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Login
                        </md-button>
                    </div>
                    <div class="col-sm-offset-7 col-sm-1">
                        <!--TODO: Implement back-to previous page-->
                        <md-button ui-sref="home" class="md-raised md-warn">Cancel</md-button>
                    </div>
                </div>
                <div class="row">
                    <md-button ng-click="LoginCtrl.socialLogin('google')" class="md-raised md-button md-ink-ripple">
                        Login with <i class="fa fa-google font-quaternary" aria-hidden="true"></i>
                    </md-button>
                    <md-button ng-click="LoginCtrl.socialLogin('facebook')"
                               class="md-raised md-button md-ink-ripple">
                        Login with <i class="fa fa-facebook font-secondary" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="bg-primary" ui-sref="user.register">To Register</md-button>
                </div>
            </div>
        </form>
    </div>
</div>
