<div class="row" id="dishList">
    <div class="col-md-12">
        <h2>My Dishes</h2>
        <a class="pull-right" ui-sref="dish.create({kid: UkCtrl.myCurrentKitchenId})"><i class="fa fa-plus"></i> Add
            Dish</a>
    </div>
</div>
<hr>
<div class="row">
    <br/>
    <div class="col-md-4" ng-repeat="dish in KdCtrl.dishes" loader>
        <a href ng-click="KdCtrl.destroyDish(dish.id)"><i class="fa fa-close pull-right" style="margin-right:8px;">Delete</i></a>
        <a ui-sref="dish.update({id: {{dish.id}}})"><i class="pull-right fa fa-edit ">Edit</i></a>
        <br/>
        <dish-card dish="dish"></dish-card>
        <br/>
    </div>
</div>
