<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            Name:<br>
            <input type="text" class="form-control" ng-model="DishCtrl.name" required/><br>
            Price:<br>
            <input type="number" class="form-control" placeholder="price" ng-model="DishCtrl.price"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1.00" required/><br>
            Description:<br>
            <textarea class="form-control" ng-model="DishCtrl.description" required/><br>
            Kitchen ID:
            <input type="text" class="form-control" ng-model="DishCtrl.kitchen_id" required/>
            <br><br>
            <a ng-click="DishCtrl.createDish()" class="btn btn-primary">Create</a>
            <a ng-click="DishCtrl.cancel()" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>