<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="RegisterCtrl.register(RegisterCtrl.newUser)" role="form">
        <div class="form-group"
             ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.required) || (form.email.$invalid && form.email.$error.email) }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="RegisterCtrl.newUser.email"
                   ng-maxlength="255"
                   required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
            <span ng-show="form.email.$invalid && form.email.$error.email" class="help-block">Not a valid email</span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': (form.first_name.$dirty && form.first_name.$error.required) }">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control"
                   ng-model="RegisterCtrl.newUser.first_name" ng-maxlength="255"
                   required/>
            <span ng-show="form.first_name.$dirty && form.first_name.$error.required"
                  class="help-block">First Name is required</span>
            <span ng-show="form.first_name.$invalid && !form.first_name.$error.required" class="help-block">First name can be at most 255 characters</span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': (form.last_name.$dirty && form.last_name.$error.required) }">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control"
                   ng-model="RegisterCtrl.newUser.last_name" ng-maxlength="255"
                   required/>
            <span ng-show="form.last_name.$dirty && form.last_name.$error.required"
                  class="help-block">Last Name is required</span>
            <span ng-show="form.last_name.$invalid && !form.last_name.$error.required" class="help-block">First name can be at most 255 characters</span>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number (Optional)</label>
            <input type="text" name="phone" id="phone" class="form-control"
                   ng-model="RegisterCtrl.newUser.phone" ui-mask="+?9 999 999 9999"/>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-minlength="6"
                   ng-model="RegisterCtrl.newUser.password" required/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="form.password.$invalid" class="help-block">Password must be at least 6 characters.</span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': form.password_confirm.$dirty && form.password_confirm.$error.required }">
            <label for="password_confirm">Password Confirm</label>
            <input type="password" name="password_confirm" id="password_confirm" class="form-control" ng-minlength="6"
                   ng-model="RegisterCtrl.newUser.password_confirmation" required/>
            <span ng-show="form.password_confirm.$dirty && form.password_confirm.$error.required" class="help-block">Password Confirm is required</span>
            <span ng-show="RegisterCtrl.newUser.password !== RegisterCtrl.newUser.password_confirmation">Password mismatch</span>
        </div>
        <div class="form-actions">
            <button type="submit"
                    ng-disabled="form.$invalid || RegisterCtrl.newUser.password !== RegisterCtrl.newUser.password_confirmation"
                    class="btn btn-primary">Register
            </button>
        </div>
    </form>
    <div ng-controller="UserLoginController as LoginCtrl">
        <button class="btn btn-primary" ng-click="LoginCtrl.socialLogin('google')">Google Login</button>
        <button class="btn btn-primary" ng-click="LoginCtrl.socialLogin('facebook')">Facebook Login</button>
    </div>
    <div class="row">
        <p>Already a member?</p>
        <button class="btn btn-primary" ui-sref="user.login">Login</button>
    </div>
</div>
