<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-validation" name="form" ng-submit="RegisterCtrl.register(RegisterCtrl.newUser)" novalidate>
            <div class="form-group">
                <h2 class="text-center">Verify Email</h2><br>
                <div class="row">
                    <!--Email-->
                    <div class="user-email">
                        <md-input-container class="md-block">
                            <label for="email">Email</label>
                            <input id="email" type="email" name="email" ng-model="RegisterCtrl.newUser.email"
                                   required/>
                            <div class="field-message" ng-messages="form.email.$error" ng-if='form.email.$touched'
                                 ng-cloak>
                                <div ng-message="required">Email is required</div>
                                <div ng-message="email">Must be a valid email</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>