<div class="row">
    <div class="col-md-12 col-md-offset-0">
        <form class="form-validation" ng-submit="puCtrl.updateCard()" name="form" novalidate>
            <h2 class="text-center">UPDATE CARD</h2><br>
            <!--Card Holder Name-->
            <div class="cardHolder">
                <md-input-container class="md-block">
                    <label for="cardHolder">Card Holder Name</label>
                    <input id="cardHolder" type="text" name="cardHolder" ng-model="puCtrl.card.name"
                           placeholder="" required/>
                    <div class="field-message" ng-messages="form.cardHolder.$error" ng-if='form.cardHolder.$touched'
                         ng-cloak>
                        <div ng-message="required">Card Holder Name is required</div>
                    </div>
                </md-input-container>
            </div>
            <!--Billing Address-->
            <div class="billingAddress">
                <md-input-container class="md-block">
                    <label for="billingAddress">Billing Address</label>
                    <input id="billingAddress" type="text" name="billingAddress" g-places-autocomplete
                           ng-model="puCtrl.card.billingAddress" placeholder="" required/>
                    <div class="field-message" ng-messages="form.billingAddress.$error"
                         ng-if='form.billingAddress.$touched'
                         ng-cloak>
                        <div ng-message="required">Billing Address is required</div>
                    </div>
                </md-input-container>
            </div>
            <div class="row">
                <!--Expiration Month-->
                <div class="expMonth col-md-6">
                    <md-input-container class="md-block">
                        <label for="expMonth">MM</label>
                        <input id="expMonth" type="text" name="expMonth" ng-model="puCtrl.card.exp_month" ui-mask="99"
                               placeholder="" required/>
                        <div class="field-message" ng-messages="form.expMonth.$error" ng-if='form.expMonth.$touched'
                             ng-cloak>
                            <div ng-message="required">Expiration Month is required</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Expiration Year-->
                <div class="expYear col-md-6">
                    <md-input-container class="md-block">
                        <label for="expYear">YYYY</label>
                        <input id="expYear" type="text" name="expYear" ng-model="puCtrl.card.exp_year" ui-mask="9999"
                               placeholder="" required/>
                        <div class="field-message" ng-messages="form.expYear.$error" ng-if='form.expYear.$touched'
                             ng-cloak>
                            <div ng-message="required">Expiration Year is required</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <!--Button-->
            <div class="row submit">
                <div class="col-sm-1 pull-left">
                    <md-button class="md-raised md-primary" ng-disabled="form.$invalid" type="submit">Update Card
                    </md-button>
                </div>
                <div class="col-sm-offset-7 col-sm-1">
                    <md-button class="md-raised md-warn" ui-sref="user.profile.payment.list">Cancel</md-button>
                </div>
            </div>
        </form>
    </div>
</div>
