<div class="container" id="dishShow" loader>
    <div class="row">
        <div class="col-md-4">
            <img ng-src="{{DishCtrl.dish.media[0].url}}" alt="Card image cap" style="width:100%;">

            <h4 class="card-title">{{DishCtrl.dish.name}}</h4>
            <p class="card-text">{{DishCtrl.dish.description}}</p>

            <a ng-click="DishCtrl.update()" class="btn btn-primary">Edit Dish</a>
            <a ng-click="DishCtrl.destroy()" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>
