<h2>Add Payout Method</h2>
<br>
<form class="form-validation" ng-submit="pcCtrl.createAccount()" name="form" novalidate>
	<div class="margin-bottom-1em">
		<md-autocomplete
				md-no-cache="true"
				md-selected-item="selectedCountry"
				md-search-text="pcCtrl.address.country"
				md-items="country in pcCtrl.querySearch(pcCtrl.address.country, pcCtrl.payoutCountries)"
				md-min-length="0"
				md-item-text="country.display"
				placeholder="Select Country"
				md-require-match
				required>
			<md-item-template>
				<span md-highlight-flags="^i">{{country.display}}</span>
			</md-item-template>
			<md-not-found>
				No matches found.
			</md-not-found>
			<div ng-message="md-require-match">Please select an existing country.</div>
		</md-autocomplete>
	</div>
	<div class="margin-bottom-1em">
		<md-autocomplete
				ng-disabled="!selectedCountry"
				md-no-cache="true"
				md-selected-item="pcCtrl.address.state"
				md-search-text="searchState"
				md-items="state in pcCtrl.querySearch(searchState, pcCtrl.getStates(pcCtrl.address.country))"
				md-min-length="0"
				md-item-text="state.display"
				placeholder="Select State / Province"
				md-require-match
				required>
			<md-item-template>
				<span md-highlight-flags="^i">{{state.display}}</span>
			</md-item-template>
			<md-not-found>
				No matches found.
			</md-not-found>
			<div ng-message="md-require-match">Please select an existing State / Province.</div>
		</md-autocomplete>
	</div>
	<br>
	<div>
		<md-input-container class="md-block">
			<label for="payoutCity">City</label>
			<input id="payoutCity" type="text" ng-model="pcCtrl.address.city" required/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutLine1">Address Line 1</label>
			<input id="payoutLine1" type="text" ng-model="pcCtrl.address.line1" required/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutLine2">Address Line 2</label>
			<input id="payoutLine2" type="text" ng-model="pcCtrl.address.line2"/>
		</md-input-container>
	</div>
	<div>
		<md-input-container class="md-block">
			<label for="payoutPostalCode">Zip Code / Postal Code</label>
			<input id="payoutPostalCode" type="text" ng-model="pcCtrl.address.postal_code" required/>
		</md-input-container>
	</div>
	<md-button flex class="md-raised md-primary pull-right" type="submit" ng-disabled="form.$invalid">
		Complete
	</md-button>
</form>