<div class="container">
	<div class="col-md-4 col-md-offset-4 col-xs-12">
		<form class="form-validation" ng-submit="coCtrl.chargePayment()" name="form" novalidate>
			<h2 class="text-center">Billing Information</h2><br>
			<!--Billing Address-->
			<div>
				<md-input-container class="md-block">
					<label for="paymentCity">City</label>
					<input id="paymentCity" type="text" ng-model="coCtrl.card.address_city" required/>
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-block">
					<label for="paymentLine1">Address Line 1</label>
					<input id="paymentLine1" type="text" ng-model="coCtrl.card.address_line1" required/>
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-block">
					<label for="paymentPostalCode">Zip Code / Postal Code</label>
					<input id="paymentPostalCode" type="text" ng-model="coCtrl.card.address_zip" placeholder=""
					       ui-mask="*****?*" required/>
				</md-input-container>
			</div>
			<!--Card Holder Name-->
			<div class="cardHolder">
				<md-input-container class="md-block">
					<label for="cardHolder">Card Holder Name</label>
					<input id="cardHolder" type="text" name="cardHolder" ng-model="coCtrl.card.name"
					       placeholder="" required/>
					<div class="field-message" ng-messages="form.cardHolder.$error" ng-if='form.cardHolder.$touched'
					     ng-cloak>
						<div ng-message="required">Card Holder Name is required</div>
					</div>
				</md-input-container>
			</div>
			<!--Card Number-->
			<div class="cardNumber">
				<md-input-container class="md-block">
					<label for="cardNumber">Card Number</label>
					<input id="cardNumber" type="text" name="cardNumber" ng-model="coCtrl.card.number"
					       ui-mask="9999 9999 9999 9999" placeholder="" required/>
					<div class="field-message" ng-messages="form.cardNumber.$error" ng-if='form.cardNumber.$touched'
					     ng-cloak>
						<div ng-message="required">Card Number is required</div>
					</div>
				</md-input-container>
			</div>
			<!--Expiration Month-->
			<div class="expMonth col-md-4 col-xs-4">
				<md-input-container class="md-block">
					<label for="expMonth">Month</label>
					<input id="expMonth" type="text" name="expMonth" ng-model="coCtrl.card.exp_month" ui-mask="99"
					       placeholder="" required/>
					<div class="field-message" ng-messages="form.expMonth.$error" ng-if='form.expMonth.$touched'
					     ng-cloak>
						<div ng-message="required">Expiration Month is required</div>
					</div>
				</md-input-container>
			</div>
			<!--Expiration Year-->
			<div class="expYear col-md-4 col-xs-4">
				<md-input-container class="md-block">
					<label for="expYear">Year</label>
					<input id="expYear" type="text" name="expYear" ng-model="coCtrl.card.exp_year" ui-mask="9999"
					       placeholder="" required/>
					<div class="field-message" ng-messages="form.expYear.$error" ng-if='form.expYear.$touched'
					     ng-cloak>
						<div ng-message="required">Expiration Year is required</div>
					</div>
				</md-input-container>
			</div>
			<!--CVC-->
			<div class="cvc col-md-4 col-xs-4">
				<md-input-container class="md-block">
					<label for="cvc">CVC</label>
					<input id="cvc" type="text" name="cvc" ng-model="coCtrl.card.cvc" ui-mask="999"
					       placeholder="" required/>
					<div class="field-message" ng-messages="form.cvc.$error" ng-if='form.cvc.$touched'
					     ng-cloak>
						<div ng-message="required">CVC is required</div>
					</div>
				</md-input-container>
			</div>
			<br/>
			<!--Button-->
			<div class="row submit">
				<md-button class="md-raised md-primary pull-left" ng-disabled="form.$invalid" type="submit">Request
					Order
				</md-button>
				<!--TODO: GO Back to previous page-->
				<md-button class="md-raised md-warn pull-right" ui-sref="cart.view">Back to Cart</md-button>
			</div>
		</form>
	</div>
</div>
