<h2>MY PRIVACY</h2>
<hr/>
<div class="inset" ng-cloak loader>
    <table class="table">
        <thead>
        <tr>
            <th>Activity</th>
            <th>Public</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Phone Number</td>
            <td>
                <md-switch ng-model="uvCtrl.user.show_phone" ng-false-value="0" ng-true-value="1" aria-label="phonePrivacy" class="md-primary">
                </md-switch>
            </td>
        </tr>
        <tr>
            <td>Forked Dishes</td>
            <td>
                <md-switch ng-model="uvCtrl.user.show_forks" ng-false-value="0" ng-true-value="1" aria-label="phonePrivacy" class="md-primary">
                </md-switch>
            </td>
        </tr>
        <tr>
            <td>Subscribed Kitchens</td>
            <td>
                <md-switch ng-model="uvCtrl.user.show_subscription" ng-false-value="0" ng-true-value="1" aria-label="phonePrivacy" class="md-primary">
                </md-switch>
            </td>
        </tr>
        </tbody>
    </table>
    <md-button class="md-primary md-raised" ng-disabled="uvCtrl.validate()" type="submit" ng-click="uvCtrl.updateUser()">Update Privacy Setting</md-button>
</div>

