<div class="row no-gutters">
    <div class="col-sm-1">

    </div>
    <md-content class="md-padding">
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-input-container>
                    <input type="text" id="food">
                    <label for="food">Food (ex. Seafood)</label>
                    <br/> <br/><br/>
                    <md-checkbox ng-model="sctrl.deliverOnly">Deliver Only</md-checkbox>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-input-container>
                    <input type="text" id="City">
                    <label for="City">City</label>
                    <br/><br/>
                    <md-slider-container>
                        <md-slider flex ng-init="sctrl.distance=0" min="0" max="10" ng-model="sctrl.distance"
                                   aria-label="distance"
                                   id="distance-slider">
                        </md-slider>
                    </md-slider-container>
                    <span>Distance: {{sctrl.distance}} km</span>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-2">
            <md-input-container>
                <input type="text" id="price">
                <label for="price">Price limit</label>
                <br/><br/><br/>
                <md-checkbox ng-model="sctrl.glutenFree">Gluten-free</md-checkbox>
            </md-input-container>
        </div>
        <div class="col-sm-3">
            <div ng-controller="SearchCtrl as sctrl" layout="column" ng-cloak>
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                            ng-disabled="sctrl.isDisabled"
                            md-no-cache="true"
                            md-selected-item="sctrl.selectedItem"
                            md-search-text-change="sctrl.searchTextChange(sctrl.searchText)"
                            md-search-text="sctrl.searchText"
                            md-selected-item-change="sctrl.selectedItemChange(item)"
                            md-items="item in sctrl.querySearch(sctrl.searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Choose Nationality"
                            md-require-match>
                        <md-item-template>
                            <span md-highlight-text="sctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{sctrl.searchText}}" were found.
                        </md-not-found>
                        <div ng-message="md-require-match">Please select an existing nationality.</div>
                    </md-autocomplete>

                    <br/><br/>
                    <md-checkbox ng-model="sctrl.vegan">Vegan</md-checkbox>
                    <md-checkbox ng-model="sctrl.vegetarian">Vegetarian</md-checkbox>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-button class="md-raised md-warn">Search</md-button>
                <br/>
                <md-select ng-model="sctrl.sortBy" placeholder="Sort by" class="md-no-underline">
                    <md-option value="hottest">Hottest</md-option>
                    <md-option value="price_asc">Price (Ascending)</md-option>
                    <md-option value="price_dsc">Price (Descending)</md-option>
                    <md-option value="taste">Taste</md-option>
                    <md-option value="visual">Visual</md-option>
                    <md-option value="quantity">Quantity</md-option>
                </md-select>
            </div>
        </div>
    </md-content>
    <br>
    <div class="col-sm-offset-1">
        <h3 class="text-center">Featrued Dishes</h3>
        <div ng-controller="FeaturedDishController as DishCtrl" id="featuredDishList">
            <ul uib-pager items-per-page="6" total-items="DishCtrl.totalItems" ng-model="DishCtrl.currentPage" ng-change="DishCtrl.getFeaturedDishes()"></ul>
            <div class="row">
                <div class="col-md-4" ng-repeat="dish in DishCtrl.dishes" loader>
                    <a ui-sref="dish.show({id: dish.id})">
                        <img ng-src="{{dish.medias[0].url}}" alt="Card image cap" style="width:100%;">

                        <h4 class="card-title">{{dish.name}}</h4>
                        <p class="card-text">{{dish.price}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>