<div class="row no-gutters">
	<div class="col-sm-1">
	</div>
	<md-card>
		<md-content class="md-padding" ng-controller="SearchCtrl as sCtrl">
			<div class="col-sm-2 col-xs-6">
				<div class="row no-gutters">
					<md-input-container>
						<input type="text" id="food" ng-model="sCtrl.q">
						<label for="food">Key word (ex. Seafood)</label>
						<br/> <br/><br/>
						<md-checkbox ng-model="sCtrl.deliverOnly" disabled="true">Deliver Only</md-checkbox>
					</md-input-container>
				</div>
			</div>
			<div class="col-sm-2 col-xs-6">
				<div class="row no-gutters">
					<md-input-container>
						<input type="text" id="City" options="sCtrl.autocompleteOptions" g-places-autocomplete
						       ng-model="sCtrl.city"/>
						<label for="City">City</label>
						<br/><br/>
						<md-slider-container>
							<md-slider class="md-primary" flex min="0" max="100" ng-model="sCtrl.distance"
							           aria-label="distance"
							           id="distance-slider">
							</md-slider>
						</md-slider-container>
						<span ng-if="sCtrl.distance != 0">Max Distance: {{sCtrl.distance}} km</span>
						<span ng-if="sCtrl.distance == 0 || sCtrl.distance === undefined">Max Distance: Any</span>
					</md-input-container>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12">
				<label class="col-sm-offset-2 col-xs-12">Price Range</label>
				<div class="col-sm-6 col-xs-6">
					<md-input-container>
						<input type="text" id="min_price" ng-model="sCtrl.min_price">
						<label for="min_price">min</label>
					</md-input-container>
				</div>
				<div class="col-sm-6 col-xs-6">
					<md-input-container>
						<input type="text" id="max_price" ng-model="sCtrl.max_price">
						<label for="max_price">max</label>
					</md-input-container>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div layout="column" ng-cloak>
					<form ng-submit="$event.preventDefault()">
						<md-autocomplete
								md-no-cache="true"
								md-selected-item="sCtrl.selectedNationality"
								md-search-text="sCtrl.searchText"
								md-items="item in sCtrl.querySearch(sCtrl.searchText, sCtrl.nationalities)"
								md-item-text="item.display"
								md-min-length="0"
								placeholder="Choose Nationality"
								md-require-match>
							<md-item-template>
								<span md-highlight-text="sCtrl.searchText"
								      md-highlight-flags="^i">{{item.display}}</span>
							</md-item-template>
							<md-not-found>
								No states matching "{{sCtrl.searchText}}" were found.
							</md-not-found>
							<div ng-message="md-require-match">Please select an existing nationality.</div>
						</md-autocomplete>
						<br/><br/>
						<md-checkbox ng-model="sCtrl.vegan" ng-true-value="1">Vegan</md-checkbox>
						<md-checkbox ng-model="sCtrl.vegetarian" ng-true-value="1">Vegetarian</md-checkbox>
						<md-checkbox ng-model="sCtrl.gluten_free" ng-true-value="1">Gluten-free</md-checkbox>
					</form>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12">
				<div class="row no-gutters">
					<md-button class="md-raised md-primary" ng-click="sCtrl.searchDish()">Search</md-button>
					<br/>
					<md-select ng-model="sCtrl.sortBy" placeholder="Sort by" class="md-no-underline">
						<md-option value="price_asc">Price (Ascending)</md-option>
						<md-option value="price_dsc">Price (Descending)</md-option>
						<md-option value="newest">Newest</md-option>
						<md-option value="taste">Taste</md-option>
						<md-option value="visual">Visual</md-option>
						<md-option value="quantity">Quantity</md-option>
					</md-select>
				</div>
			</div>
		</md-content>
	</md-card>
	<br>
	<div class="col-xs-12">
		<div class="row">
			<h3 class="text-center">Featrued Dishes</h3>
			<button class="go-prev pull-left">previous</button>
			<button class="go-next pull-right">next</button>
		</div>
		<div ng-controller="FeaturedDishController as DishCtrl" id="featuredDishList">
			<!--<ul uib-pager items-per-page="6" total-items="DishCtrl.totalItems" ng-model="DishCtrl.currentPage"-->
			<!--ng-change="DishCtrl.getFeaturedDishes()"></ul>-->
			<div class="row">
				<slick swipe="true" swipe-to-slide="true" init-onload=true data="dishes" infinite="false"
				       prev-arrow=".go-prev" next-arrow=".go-next" responsive="DishCtrl.dishBreakpoints">
					<div ng-repeat="dish in dishes">
						<dish-card dish="dish"></dish-card>
					</div>
				</slick>
			</div>
		</div>
	</div>
</div>