<div class="row no-gutters">
    <div class="col-sm-1">

    </div>
    <md-content class="md-padding" ng-controller="SearchCtrl as sctrl">
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-input-container>
                    <input type="text" id="food" ng-model="sctrl.q">
                    <label for="food">Key word (ex. Seafood)</label>
                    <br/> <br/><br/>
                    <md-checkbox ng-model="sctrl.deliverOnly" disabled="true">Deliver Only</md-checkbox>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-input-container>
                    <input type="text" id="City" options="sctrl.autocompleteOptions" g-places-autocomplete ng-model="sctrl.city"/>
                    <label for="City">City</label>
                    <br/><br/>
                    <md-slider-container>
                        <md-slider flex min="0" max="100" ng-model="sctrl.distance"
                                   aria-label="distance"
                                   id="distance-slider">
                        </md-slider>
                    </md-slider-container>
                    <span ng-if="sctrl.distance != 0">Max Distance: {{sctrl.distance}} km</span>
                    <span ng-if="sctrl.distance == 0 || sctrl.distance === undefined">Max Distance: Any</span>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-2">
            <label class="col-sm-offset-2">Price Range</label>
            <div class="col-sm-6">
                <md-input-container>
                    <input type="text" id="min_price" ng-model="sctrl.min_price">
                    <label for="min_price">min</label>
                </md-input-container>
            </div>

            <div class="col-sm-6">
                <md-input-container>
                    <input type="text" id="max_price" ng-model="sctrl.max_price">
                    <label for="max_price">max</label>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-3">
            <div layout="column" ng-cloak>
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                            md-no-cache="true"
                            md-selected-item="sctrl.selectedNationality"
                            md-search-text-change="sctrl.searchTextChange(sctrl.searchText)"
                            md-search-text="sctrl.searchText"
                            md-selected-item-change="sctrl.selectedItemChange(item)"
                            md-items="item in sctrl.querySearch(sctrl.searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Choose Nationality"
                            md-require-match>
                        <md-item-template>
                            <span md-highlight-text="sctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{sctrl.searchText}}" were found.
                        </md-not-found>
                        <div ng-message="md-require-match">Please select an existing nationality.</div>
                    </md-autocomplete>

                    <br/><br/>
                    <md-checkbox ng-model="sctrl.vegan" ng-true-value="1">Vegan</md-checkbox>
                    <md-checkbox ng-model="sctrl.vegetarian" ng-true-value="1">Vegetarian</md-checkbox>
                    <md-checkbox ng-model="sctrl.gluten_free" ng-true-value="1">Gluten-free</md-checkbox>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row no-gutters">
                <md-button class="md-raised md-warn" ng-click="sctrl.searchDish()">Search</md-button>
                <br/>
                <md-select ng-model="sctrl.sortBy" placeholder="Sort by" class="md-no-underline">
                    <md-option value="hottest">Hottest</md-option>
                    <md-option value="price_asc">Price (Ascending)</md-option>
                    <md-option value="price_dsc">Price (Descending)</md-option>
                    <md-option value="taste">Taste</md-option>
                    <md-option value="visual">Visual</md-option>
                    <md-option value="quantity">Quantity</md-option>
                </md-select>
            </div>
        </div>
    </md-content>
    <div class="col-sm-offset-1">
        <h3>Featrued Dishes</h3>
        <div ng-controller="DishListInfiniteController as DishCtrl" id="featuredDishList" loader>
            <ul uib-pager items-per-page="3" total-items="DishCtrl.totalItems" ng-model="DishCtrl.currentPage"></ul>
            <div class="row">
                <div class="col-md-4" ng-repeat="n in [0,1,2]">
                    <img ng-src="{{DishCtrl.dishes[n].medias[0].url}}" alt="Card image cap" style="width:100%;">

                    <h4 class="card-title">{{DishCtrl.dishes[n].name}}</h4>
                    <p class="card-text">{{DishCtrl.dishes[n].description}}</p>
                    <a ui-sref="dish.show({id: DishCtrl.dishes[n].id})" class="btn btn-primary">View Detail</a>
                </div>
            </div>
            <ul uib-pager items-per-page="3" total-items="DishCtrl.totalItems" ng-model="DishCtrl.currentPage"></ul>
        </div>
    </div>
</div>