/* TODO: what are these for?? */
@large-icon-hover: darkblue;

@html-backrgound: white;




/* bg color defination */
/* these color schemes are used for js to fetch color setting */
/* DO NOT change the class name and make sure to define all properties */
.bg-primary{
	color: #fff;
	background-color: @primary-color;
}

.bg-secondary{
	color: #000;
	background-color: @secondary-color;
}

.bg-ternary{
	color: #fff;
	background-color: @ternary-color;
}

.bg-quaternary{
	color: #fff;
	background-color: @quaternary-color;
}