.angular-google-map {
  height: 90%;
}

.angular-google-map-container {
  height: 100%;
  position: fixed;
  top: 0;
}

md-toast.md-top.md-center {
  left: 50%;
  margin-top: 75px;
  transform: translate3d(-50%, 0, 0);
}