.full-width {
   width: 100%;
 }

.select-kitchen {
  float: right;
  color: black;
  margin: 0 0 0.5em 0.5em;
}

#add-kitchen {
  float: right;
  color: white;
  display: inline;
}

#add-admin {
  margin-top: 0;
  height: 111%;
}

.small-margin {
  margin: 0.5em;
}

md-checkbox.md-checked .md-icon {
  background-color: @primary-color;
}