body {
  padding-top: 70px;
}

.owner-info {
  text-align: center;
}
.kitchen-dashboard-header {
  margin: 0.7em;
  display: inline;
}
.fork-container {
  font-size: 1.5em;
  font-weight: bold;
}
.dish-show-left {
  padding-right: 1.5em
}
.dish-show-right {
  overflow-y: scroll;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 350px;
  height: 90%;
}

.margin-bottom-1em {
  margin-bottom: 1em
}

.margin-top-2em {
  margin-top: 2em;
}

.padding-1em {
  padding: 1em;
}

.dish-show-header {
  background-color: ghostwhite;
  padding: 0.5em;
}

.white-background {
  background-color: @html-backrgound;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}