<form class="form-horizontal" ng-controller="RatingCreateController as RatingCCtrl">
    <div class="row">
        <div class="col-md-10">
            <label class="control-label" for="comment">
                Comment:<br>
            </label>
            <textarea id="comment" class="form-control" ng-model="RatingCCtrl.rating.comment" required/>
        </div>
        <div class="col-md-offset-2">
            <br>
            <a ng-click="RatingCCtrl.rateDish()" class="btn btn-primary">Rate Dish</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-3">Taste:</div>
        <div class="col-md-9">
            <ng-rate-it resetable="false" ng-model="RatingCCtrl.rating.taste_rating" step="1.0"></ng-rate-it>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-3">Visual:</div>
        <div class="col-md-9">
            <ng-rate-it resetable="false" ng-model="RatingCCtrl.rating.visual_rating" step="1.0"></ng-rate-it>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-3">Quantity:</div>
        <div class="col-md-9">
            <ng-rate-it resetable="false" ng-model="RatingCCtrl.rating.quantity_rating" step="1.0"></ng-rate-it>
        </div>
    </div>
</form>