<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{DishCtrl.dish.medias[0].url}}" alt="Card image cap" style="width:100%;">
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">

                    <md-input-container class="md-block">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" id="name" ng-model="DishCtrl.dish.name" required/>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label for="price">
                            Price
                        </label>
                        <input type="number" id="price" placeholder="10.00"
                               ng-model="DishCtrl.dish.price"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
                    </md-input-container>

                    <md-autocomplete
                            md-require-match
                            md-floating-label="Nationality"
                            md-no-cache="true"
                            md-selected-item="DishCtrl.selectedNationality"
                            md-search-text="DishCtrl.searchNationality"
                            md-items="item in DishCtrl.querySearch(DishCtrl.searchNationality)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Choose Nationality">
                        <md-item-template>
                            <span md-highlight-text="DishCtrl.searchNationality" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{DishCtrl.searchNationality}}" were found.
                        </md-not-found>
                        <div ng-message="md-require-match">Please select an existing nationality.</div>
                    </md-autocomplete>
                    <br/><br/>

                    <md-input-container class="md-block">
                        <label for="description">Description</label>
                        <textarea md-maxlength="200" id="description" rows="3" ng-model="DishCtrl.dish.description"
                                  placeholder="Typical Korean Kimchi Ramen"
                                  md-select-on-focus required></textarea>
                    </md-input-container>

                    <div class="DishImage">
                        <label class="control-label" for="dropzone">Image:</label>
                        <div class="controls">
                            <div ng-app="mediaUpload" ng-controller="MediaController">
                                <div class="dropzone" id="dropzone" ng-dropzone></div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-sm-1">
                            <md-button class="md-raised md-primary" ng-click="DishCtrl.updateDish()">Update</md-button>
                        </div>
                        <div class="col-sm-offset-7 col-sm-1">
                            <md-button class="md-raised md-warn" ng-click="DishCtrl.cancel()">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
