<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-validation" name="form" novalidate>
            <h2 class="text-center">New Kitchen</h2><br>
            <div class="row">
                <!--Country-->
                <div>
                    <md-autocomplete
                            md-no-cache="true"
                            md-selected-item="KitchenCtrl.selectedCountry"
                            md-search-text="searchCountry"
                            md-items="country in KitchenCtrl.querySearch(searchCountry, KitchenCtrl.payoutCountries)"
                            md-min-length="0"
                            md-item-text="country.display"
                            placeholder="Select Country"
                            md-require-match
                            required>
                        <md-item-template>
                            <span md-highlight-flags="^i">{{country.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                        <div ng-message="md-require-match">Please select an existing country.</div>
                    </md-autocomplete>
                </div><br>
                <!--Address-->
                <div class="kitchenAddress">
                    <md-input-container class="md-block">
                        <label for="address">Address</label>
                        <input id="address" type="text" name="address" g-places-autocomplete ng-model="KitchenCtrl.kitchen.address" autocomplete="off" required/>
                        <div class="field-message" ng-messages="form.address.$error" ng-if='form.address.$touched'
                             ng-cloak>
                            <div ng-message="required">Address is required</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Name-->
                <div class="kitchenName">
                    <md-input-container class="md-block">
                        <label for="name">Kitchen Name</label>
                        <input id="name" type="text" name="name" ng-model="KitchenCtrl.kitchen.name"
                               ng-minlength="5" ng-maxlength="40" required/>
                        <div class="field-message" ng-messages="form.name.$error" ng-if='form.name.$touched' ng-cloak>
                            <div ng-message="required">Kitchen Name is required</div>
                            <div ng-message="minlength">Kitchen Name must have minimum 5 characters</div>
                            <div ng-message="maxlength">Kitchen Name must have maximum 40 characters</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Phone-->
                <div class="kitchenPhone">
                    <md-input-container class="md-block">
                        <label for="phone">Phone</label><br>
                        <input id="phone" type="text" name="phone" ng-model="KitchenCtrl.kitchen.phone"
                               ui-mask="+9-999-999-9999" required/>
                        <div class="field-message" ng-messages="form.phone.$error" ng-if='form.phone.$touched' ng-cloak>
                            <div ng-message="required">Phone number is required</div>
                            <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Email-->
                <div class="kitchenEmail">
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" ng-model="KitchenCtrl.kitchen.email" required/>
                        <div class="field-message" ng-messages="form.email.$error" ng-if='form.email.$touched' ng-cloak>
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Must be a valid email</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Description-->
                <div class="kitchenDescription">
                    <md-input-container class="md-block">
                        <label for="description">Description</label>
                        <textarea md-maxlength="200" id="description" rows="3" name="description"
                                  ng-model="KitchenCtrl.kitchen.description" required></textarea>
                        <div class="field-message" ng-messages="form.description.$error" ng-if='form.description.$touched'
                             ng-cloak>
                            <div ng-message="required">Description is required</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Image-->
                <div class="kitchenImage">
                    <label for="dropzone">Image</label>
                    <div ng-app="mediaUpload" ng-controller="MediaController">
                        <div class="dropzone" id="dropzone" ng-dropzone></div>
                    </div>
                </div>
            </div>
            <br/>
            <!--Button-->
            <div class="row submit">
                <div class="col-sm-1">
                    <md-button class="md-raised md-primary" ng-click="KitchenCtrl.createKitchen()"
                               ng-disabled="form.$invalid">Create
                    </md-button>
                </div>
                <div class="col-sm-offset-7 col-sm-1">
                    <md-button ui-sref="user.kitchen" class="md-raised md-warn">Cancel</md-button>
                </div>
            </div>
            <br/>
        </form>
    </div>
</div>
