<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="form-validation" name="form" novalidate>
    <!--Name-->
    <div class="kitchenName">
        <label>Name:</label>
        <input type="text" name="name" ng-model="KitchenCtrl.kitchen.name"
               ng-minlength="3" ng-maxlength="12" required/>
        <div class="field-message" ng-messages="form.name.$error" ng-if='form.name.$dirty' ng-cloak>
            <div ng-message="required">Kitchen Name is required</div>
            <div ng-message="minlength">Kitchen Name must have minimum 6 characters</div>
            <div ng-message="maxlength">Kitchen Name must have maximum 10 characters</div>
        </div>
    </div>
    <!--Address-->
    <div class="kitchenAddress">
        <label>Address:</label>
        <input type="text" name="address" ng-model="KitchenCtrl.kitchen.address" required/>
        <div class="field-message" ng-messages="form.address.$error" ng-if='form.address.$dirty' ng-cloak>
            <div ng-message="required">Address is required</div>
        </div>
    </div>
    <!--Phone-->
    <div class="kitchenPhone">
        <label>Phone:</label>
        <input type="text" name="phone" ng-model="KitchenCtrl.kitchen.phone"
               ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
        <div class="field-message" ng-messages="form.phone.$error" ng-if='form.phone.$dirty' ng-cloak>
            <div ng-message="required">Phone number is required</div>
            <div ng-message="pattern">Must be a valid 10 digit phone number</div>
        </div>
    </div>
    <!--Email-->
    <div class="kitchenEmail">
        <label>Email:</label>
        <input type="email" name="email" ng-model="KitchenCtrl.kitchen.email" required/>
        <div class="field-message" ng-messages="form.email.$error" ng-if='form.email.$dirty' ng-cloak>
            <div ng-message="required">Email is required</div>
            <div ng-message="email">Must be a valid email</div>
        </div>
    </div>
    <!--Description-->
    <div class="kitchenDescription">
        <label>Description:</label>
        <input type="text" name="description" ng-model="KitchenCtrl.kitchen.description" required/>
        <div class="field-message" ng-messages="form.description.$error" ng-if='form.description.$dirty' ng-cloak>
            <div ng-message="required">Description is required</div>
        </div>
    </div>
    <div class="kitchenImage">
        <label for="dropzone">Image:</label>
        <div ng-app="mediaUpload" ng-controller="MediaController">
            <div class="dropzone" id="dropzone" ng-dropzone></div>
        </div>
    </div>
    <br/>
    <div class="submit">
        <a type="submit" ng-click="KitchenCtrl.createKitchen()" class="btn btn-small btn-primary"
           ng-disabled="form.$invalid">Create a Kitchen!</a>
        <a type="button" ui-sref="kitchen.list" class="btn btn-small">cancel</a>
    </div>
    <br/>
</form>

</body>
</html>