<div class="container" ng-if="UserShowCtrl.user">
    <!--Header-->
    <div class="row" loader>
        <div class="col-md-3">
            <h3>Joined in {{UserShowCtrl.user.joinedIn[1]}} {{UserShowCtrl.user.joinedIn[3]}}</h3>
            <h4 ng-if="UserShowCtrl.user.verified === 1"><i class="fa fa-check" aria-hidden="true"></i> Verified User
            </h4>
            <h4 ng-if="UserShowCtrl.user.verified === 1"><i class="fa fa-star" aria-hidden="true"></i> Best Cook</h4>
            <h4 ng-if="UserShowCtrl.user.verified === 1"><i class="fa fa-heart"
                                                            aria-hidden="true"></i> Power Buyer</h4>
            <a class="btn-link" href="" ng-click=""><i class="md-warn fa fa-frown-o" aria-hidden="true"></i> Report this
                User</a>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">{{UserShowCtrl.user.first_name}} {{UserShowCtrl.user.last_name}}</h1>
            <h3 class="text-center">
                <i class="fa fa-envelope" aria-hidden="true"></i> {{UserShowCtrl.user.email}}
            </h3>
            <div ng-if="UserShowCtrl.user.show_phone === 1">
                <h4 class="text-center">
                    <i class="fa fa-phone" aria-hidden="true"></i> {{UserShowCtrl.user.phone}}
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <!--Image Carousel-->
            <carousel my-interval="0" medias="UserShowCtrl.user.medias"></carousel>
        </div>
    </div>
    <hr/>
    <!--Main Contents-->
    <div class="row" loader>
        <!--User's kitchens-->
        <div class="row" ng-if="UserShowCtrl.kitchens">
            <div class="row">
                <div class="col-md-3" id="user-show-kitchens">
                    <h3>Cooking in</h3>
                    <hr/>
                </div>
                <div ng-if="UserShowCtrl.kitchens.length === 0">
                    Nothing to show
                </div>
            </div>
            <div class="row">
                <!--we will add a column in media table to specify whether it's a thumbnail so that we can show it in here-->
                <div class="col-md-4" ng-repeat="kitchen in UserShowCtrl.kitchens" loader>
                    <md-card>
                        <img class="md-user-avatar" ui-sref="kitchen.show({id: kitchen.id})"
                             ng-src="{{kitchen.medias[0].url}}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">{{kitchen.name}}</span>
                                <span class="md-subhead">{{kitchen.phone}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </div>
            <div class="row" ng-if="UserShowCtrl.kitchensLoadButton">
                <div class="text-center">
                    <md-button class="md-raised md-primary" ng-click="UserShowCtrl.getKitchens()">Load More</md-button>
                </div>
            </div>
        </div>

        <!--User's forked dishes-->
        <div class="row" ng-if="UserShowCtrl.user.show_forks === 1">
            <div class="row">
                <div class="col-md-3" id="user-show-forked-dishes">
                    <h3>Forked Dishes</h3>
                    <hr/>
                </div>
                <div ng-if="UserShowCtrl.forkedDishes.length === 0">
                    Nothing to show
                </div>
            </div>
            <div class="row">
                <!--we will add a column in media table to specify whether it's a thumbnail so that we can show it in here-->
                <div class="col-md-3" ng-repeat="dish in UserShowCtrl.forkedDishes" loader>
                    <md-card>
                        <img class="md-user-avatar" ui-sref="dish.show({id: dish.id})"
                             ng-src="{{dish.medias[0].url}}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">{{dish.name}}</span>
                                <span class="md-subhead">{{dish.price}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </div>
            <div class="row" ng-if="UserShowCtrl.forkedDishesLoadButton">
                <div class="text-center">
                    <md-button class="md-raised md-primary" ng-click="UserShowCtrl.getForkedDishes()">Load More
                    </md-button>
                </div>
            </div>
        </div>

        <!--User's subscribed kitchens-->
        <div class="row" ng-if="UserShowCtrl.user.show_subscription === 1">
            <div class="row">
                <div class="col-md-3" id="user-show-subscribed-kitchens">
                    <h3>Subscribed Kitchens</h3>
                    <hr/>
                </div>
                <div ng-if="UserShowCtrl.subscribedKitchens.length === 0">
                    Nothing to show
                </div>
            </div>
            <div class="row">
                <!--we will add a column in media table to specify whether it's a thumbnail so that we can show it in here-->
                <div class="col-md-4" ng-repeat="kitchen in UserShowCtrl.subscribedKitchens" loader>
                    <md-card>
                        <img class="md-user-avatar" ui-sref="kitchen.show({id: kitchen.id})"
                             ng-src="{{kitchen.medias[0].url}}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">{{kitchen.name}}</span>
                                <span class="md-subhead">{{kitchen.phone}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </div>
            <div class="row" ng-if="UserShowCtrl.subscribedKitchensLoadButton">
                <div class="text-center">
                    <md-button class="md-raised md-primary" ng-click="UserShowCtrl.getSubscriptions()">Load More
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>