<div class="container">
	<!--Header-->
	<div class="row">
		<div class="col-md-3 text-center">
			<!--Must load it "after" kitchen data is available-->
			<div ng-if="KitchenCtrl.kitchen">
				<reaction-button reactionable="KitchenCtrl.kitchen" for="'like'"></reaction-button>
			</div>

		</div>
		<div class="col-md-6 text-center">
			<p class="kitchen-title">{{KitchenCtrl.kitchen.name}}</p>
		</div>
		<div class="col-md-3 text-center">
			<!--star-width and star-height cannot be assigned via less as this values are going to be used in ng-rate-it directive for calculation-->
			<ng-rate-it ng-model="KitchenCtrl.kitchen.totalRating" max="5" star-width="25" star-height="25"
			            read-only="true" class="bigstar-25"
			            star-width="14" step="0.01"></ng-rate-it>
		</div>
	</div>
	<!--Sub Header-->
	<div class="row">
		<div class="col-sm-3 text-center">
			<br/>
			<share-button for="kitchen"></share-button>
		</div>
		<div class="col-sm-6 text-center">
			<div class="row">
				<br/>
				<div class="col-sm-6">
					<a>
						<i class="material-icons">mail</i>
						<label>{{KitchenCtrl.kitchen.email}}</label>
					</a>
				</div>
				<div class="col-sm-6">
					<a>
						<i class="material-icons">phone</i>
						<label>{{KitchenCtrl.kitchen.phone}}</label>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 text-center" ng-if="KitchenCtrl.kitchen">
			<br/>
			<a>
				<reaction-button reactionable="KitchenCtrl.kitchen" for="'subscribe'"></reaction-button>
			</a>

		</div>
	</div>
	<hr/>
	<div class="row">
		<!--Kitchen Image-->
		<div class="col-md-6 padding">
			<div class="row" loader>
				<md-card>
					<img ng-src="{{KitchenCtrl.media}}" alt="Card image cap" style="width:100%;">
				</md-card>
				<button ui-sref="user.kitchen.general.view({myCurrentKitchenId: KitchenCtrl.kitchen.id})"
				        ng-if="KitchenCtrl.isMine"
				        class="btn btn-default btn-sm btn-edit">Manage My Kitchen
				</button>
			</div>
		</div>
		<!--About Kitchen-->
		<div class="col-md-6">
			<div class="row">
				<!--Kitchen Description-->
				<div class="col-md-8">
					<md-card>
						<md-content flex layout-padding>
							<h4 class="font-primary md-flex">About the Kitchen</h4>
							<p id="kitchenDescription">{{KitchenCtrl.kitchen.description}}</p>
						</md-content>
					</md-card>
				</div>
				<!--Kitchen Chef-->
				<div class="col-md-4">
					<div class="owner-info"
					     ng-if="KitchenCtrl.kitchenAdmins[0].pivot.role == 1 && KitchenCtrl.kitchenAdmins[0].pivot.verified == 1"
					     loader>
						<md-card>
							<md-content flex layout-padding>
								<h4 class="font-primary md-flex">Chef</h4>
								<img class="kitchen-owner" ng-src="{{KitchenCtrl.kitchenAdmins[0].medias[0].url}}">
								<a ui-sref="user.show({id: KitchenCtrl.kitchenAdmins[0].id})"><h4 id="kitchenOwnerName">
									{{KitchenCtrl.kitchenAdmins[0].first_name}}
									{{KitchenCtrl.kitchenAdmins[0].last_name}}</h4></a>
								<div>
									<md-button class="md-raised md-primary">Message</md-button>
									<br/>
									<a class="btn btn-link" ng-click="KitchenCtrl.showChefs($event)">See more Chefs</a>
								</div>
							</md-content>
						</md-card>
					</div>
				</div>
				<hr/>
			</div>
		</div>
	</div>
	<!--Kitchen Dishes-->
	<div class="row">
		<div class="row">
			<h2 class="text-center">Dishes</h2>
			<button class="go-prev pull-left">previous</button>
			<button class="go-next pull-right">next</button>
		</div>

		<div class="row">
			<slick swipe="true" swipe-to-slide="true" init-onload=true data="KitchenCtrl.dishes" infinite="false"
			       prev-arrow=".go-prev" next-arrow=".go-next" responsive="KitchenCtrl.dishBreakpoints">
				<div ng-repeat="dish in KitchenCtrl.dishes">
					<dish-card dish="dish"></dish-card>
				</div>
			</slick>
		</div>
	</div>
	<!-- Gmap -->
	<div class="row margin-top-2em" ng-if="KitchenCtrl.kitchen">
		<google-map-show for="kitchen" address="{{KitchenCtrl.kitchen.address}}" lat="{{KitchenCtrl.kitchen.lat}}"
		                 lng="{{KitchenCtrl.kitchen.lng}}"></google-map-show>
	</div>
	<!--See more chefs-->
	<div style="visibility: hidden">
		<div class="md-dialog-container" id="showChefs">
			<md-dialog layout-padding>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>Chefs</h2>
						<span flex></span>
						<md-button class="md-icon-button" ng-click="KitchenCtrl.closeDialog()">
							X
						</md-button>
					</div>
				</md-toolbar>
				<md-dialog-content>
					<div ng-repeat="person in KitchenCtrl.kitchenAdmins">
						<div class="owner-info"
						     ng-if="person.pivot.role == 1 && person.pivot.verified == 1">
							<img class="kitchen-owner"
							     ng-src="{{person.medias[0].url}}">
							<a ui-sref="user.show({id: person.id})"><h4 id="kitchenChefName">{{person.first_name}}
								{{person.last_name}}</h4></a>
							<div>
								<md-button class="md-raised md-primary">Message</md-button>
								<br/>
							</div>
						</div>
					</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
</div>
