<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a><i class="fa fa-facebook-square" aria-hidden="true">Facebook</i></a>
            <a><i class="fa fa-instagram" aria-hidden="true">Instagram</i></a>
            <a><i class="fa fa-pinterest-square" aria-hidden="true">Pinterest</i></a>
        </div>
        <div class="col-md-6">
            <p class="text-center kitchen-title">Jun's Toronto Kitchen</p>
        </div>
        <div class="col-md-3">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <label>524 Reviews</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <a class="text-center">
                <i class="material-icons">playlist_add_check</i>
                <label>Subscribe</label>
            </a>
        </div>
        <div class="col-md-8 pull-right">
            <a class="text-center">
                <i class="material-icons">mail</i>
                <label>kwnsrnjs12@gmail.com</label>
            </a>
            <a>
                <i class="material-icons">phone</i>
                <label>514-898-8523</label>
            </a>
            <a>
                <i class="material-icons">place</i>
                <label>5060 Circle Road Apt203, Montreal QC H3W 2A1</label>
            </a>
        </div>
    </div>
</div>


<div class="container" id="kitchenList" loader>

    <div class="col-md-6">
        <img ng-src="{{KitchenCtrl.media}}" alt="Card image cap" style="width:100%;">
    </div>
    <div class="col-md-6">
        <div class="kitchenName">
            <label class="control-label" for="kitchenName">Name:</label>
            <span class="card-text" id="kitchenName">{{KitchenCtrl.kitchen.name}}</span>
        </div>
        <div class="kitchenEmail">
            <label class="control-label" for="kitchenEmail">Email:</label>
            <span class="card-text" id="kitchenEmail">{{KitchenCtrl.kitchen.email}}</span>
        </div>
        <div class="kitchenPhone">
            <label class="control-label" for="kitchenPhone">Phone:</label>
            <span class="card-text" id="kitchenPhone">{{KitchenCtrl.kitchen.phone}}</span>
        </div>
        <div class="kitchenAddress">
            <label class="control-label" for="kitchenAddress">Address:</label>
            <span class="card-text" id="kitchenAddress">{{KitchenCtrl.kitchen.address}}</span>
        </div>
        <div class="kitchenDescription">
            <label class="control-label" for="kitchenDescription">Description:</label>
            <span class="card-text" id="kitchenDescription">{{KitchenCtrl.kitchen.description}}</span>
        </div>
        <button ui-sref="kitchen.edit({id: KitchenCtrl.kitchen.id})" class="btn btn-default btn-sm btn-edit">Edit
        </button>
        <span ng-controller="KitchenDestroyController as vm">
                    <button ng-click="vm.destroyKitchen()" class="btn btn-danger btn-sm btn-delete">Delete</button>
                </span>

        <!--Must load it "after" kitchen data is available-->
        <div ng-if="KitchenCtrl.kitchen">
            <reaction-button reactionable="KitchenCtrl.kitchen"></reaction-button>
        </div>
    </div>
</div>
