<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a><i class="fa fa-facebook-square" aria-hidden="true">Facebook</i></a>
            <a><i class="fa fa-instagram" aria-hidden="true">Instagram</i></a>
            <a><i class="fa fa-pinterest-square" aria-hidden="true">Pinterest</i></a>
        </div>
        <div class="col-md-6">
            <p class="text-center kitchen-title">{{KitchenCtrl.kitchen.name}}</p>
        </div>
        <div class="col-md-3">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <label>524 Reviews</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <a>
                <i class="material-icons">send</i>
                <label>Share</label>
            </a>
            <a>
                <i class="material-icons">playlist_add_check</i>
                <label>Subscribe</label>
            </a>
        </div>
        <div class="col-md-8 pull-right">
            <a>
                <i class="material-icons">mail</i>
                <label>{{KitchenCtrl.kitchen.email}}</label>
            </a>
            <a>
                <i class="material-icons">phone</i>
                <label>{{KitchenCtrl.kitchen.phone}}</label>
            </a>
            <a>
                <i class="material-icons">place</i>
                <label>{{KitchenCtrl.kitchen.address}}</label>
            </a>
        </div>
    </div>
</div>
<hr>

<div class="container" id="kitchenList" loader>

    <div class="col-md-6">
        <img ng-src="{{KitchenCtrl.media}}" alt="Card image cap" style="width:100%;">
    </div>
    <div class="col-md-6">

        <div class="pull-right owner-info">
            <div>
                <button>Message</button>
            </div>
            <img class="kitchen-owner"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT56ZsAfy-cSFhFg6qovcr0fGQTnyDIRfJx1XMdOs05isUElvHk">
            <h3 id="kitchenOwnerName">JunGwon Kim</h3>
            <p id="kitchenDescription">{{KitchenCtrl.kitchen.description}}</p>
        </div>

        <button ui-sref="kitchen.edit({id: KitchenCtrl.kitchen.id})" class="btn btn-default btn-sm btn-edit">Edit
        </button>
        <span ng-controller="KitchenDestroyController as vm">
                    <button ng-click="vm.destroyKitchen()" class="btn btn-danger btn-sm btn-delete">Delete</button>
                </span>

        <!--Must load it "after" kitchen data is available-->
        <div ng-if="KitchenCtrl.kitchen">
            <reaction-button reactionable="KitchenCtrl.kitchen"></reaction-button>
        </div>
    </div>
</div>
