<h2>General Info</h2>
<hr>
<div class="container">
    <label class="h3">Owner</label>
    <input type="text" class="owenerEmail">
    <button type="submit">Add</button>
</div>

<md-list>
    <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar"/>
        <p>{{ person.name }}</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <i class="material-icons md-24 md-secondary md-hue-3">message</i>
        <i class="material-icons md-24 md-secondary md-hue-3">phone</i>

    </md-list-item>
</md-list>
<hr>
<div>
    <label class="h3">My Kitchen</label>
    <button ui-sref="user.kitchen.general.edit" ng-click="UkCtrl.prepareEdit()">Edit</button>
</div>
<div class="col-md-8">
    <img class="kitchen-image" ng-src="{{UkCtrl.myCurrentKitchen.medias[0].url}}">
</div>
<div class="col-md-4">
    <div class="ktichenName">
        <label>Kitchen Name:</label> <br/>
        <span>{{UkCtrl.myCurrentKitchen.name}}</span>
    </div>
    <div class="kitchenPhone">
        <label>Phone:</label> <br/>
        <span>{{UkCtrl.myCurrentKitchen.phone}}</span>
    </div>
    <div class="kitchenAddress">
        <label>Address:</label> <br/>
        <span>{{UkCtrl.myCurrentKitchen.address}}</span>
    </div>
    <div class="kitchenEmail">
        <label>Email:</label> <br/>
        <span>{{UkCtrl.myCurrentKitchen.email}}</span>
    </div>
    <div class="kitchenDescription">
        <label>Description:</label> <br/>
        <span>{{UkCtrl.myCurrentKitchen.description}}</span>
    </div>
</div>