<div class="container" id="kitchenList" loader>
    <div class="col-md-4 col-md-offset-4">
        <form novalidate name="form">
            <h2 class="text-center">Edit Kitchen</h2>
            <div class="row">
                <img ng-src="{{KitchenCtrl.kitchen.medias[0].url}}" class="image-show" alt="Card image cap" style="width:100%;">
            </div>
            <!--Name-->
            <div class="row">
                <div class="kitchenName">
                    <md-input-container class="md-block">
                        <label for="name">Kitchen Name</label>
                        <input id="name" type="text" name="name" ng-model="KitchenCtrl.kitchen.name"
                               ng-minlength="5" ng-maxlength="40" required/>
                        <div class="field-message" ng-messages="form.name.$error" ng-if='form.name.$dirty' ng-cloak>
                            <div ng-message="required">Kitchen Name is required</div>
                            <div ng-message="minlength">Kitchen Name must have minimum 5 characters</div>
                            <div ng-message="maxlength">Kitchen Name must have maximum 40 characters</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Address-->
                <div class="kitchenAddress">
                    <md-input-container class="md-block">
                        <label for="address">Address</label>
                        <input id="address" type="text" name="address" g-places-autocomplete ng-model="KitchenCtrl.kitchen.address" required/>
                        <div class="field-message" ng-messages="form.address.$error" ng-if='form.address.$dirty'
                             ng-cloak>
                            <div ng-message="required">Address is required</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Phone-->
                <div class="kitchenPhone">
                    <md-input-container class="md-block">
                        <label for="phone">Phone</label>
                        <input id="phone" type="text" name="phone" ng-model="KitchenCtrl.kitchen.phone"
                               ui-mask="+9-999-999-9999"
                               placeholder="" required/>
                        <div class="field-message" ng-messages="form.phone.$error" ng-if='form.phone.$dirty' ng-cloak>
                            <div ng-message="required">Phone number is required</div>
                            <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Email-->
                <div class="kitchenEmail">
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" ng-model="KitchenCtrl.kitchen.email" required/>
                        <div class="field-message" ng-messages="form.email.$error" ng-if='form.email.$dirty' ng-cloak>
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Must be a valid email</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Description-->
                <div class="kitchenDescription">
                    <md-input-container class="md-block">
                        <label for="description">Description</label>
                        <textarea md-maxlength="200" id="description" name="description"
                                  ng-model="KitchenCtrl.kitchen.description" required></textarea>
                        <div class="field-message" ng-messages="form.description.$error" ng-if='form.description.$dirty'
                             ng-cloak>
                            <div ng-message="required">Description is required</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Image-->
                <div class="kitchenImage">
                    <label for="dropzone">Image</label>
                    <div ng-app="mediaUpload" ng-controller="MediaController">
                        <div class="dropzone" id="dropzone" ng-dropzone></div>
                    </div>
                </div>
                <!--Button-->
                <div class="submit">
                    <div class="col-sm-1">
                        <md-button class="md-raised md-primary" ng-click="KitchenCtrl.updateKitchen()"
                                   ng-disabled="form.$invalid">Update the Kitchen!
                        </md-button>
                    </div>
                    <div class="col-sm-offset-7 col-sm-1">
                        <a type="button" ui-sref="kitchen.show({id: KitchenCtrl.kitchen.id})"
                           class="btn btn-small">cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
