<div id="RatingList" loader>
    <div class="row" ng-repeat="rating in RatingCtrl.ratings">
        <br>
        <div class="row">
            <div class="col-md-1">
                <a ui-sref="user.show({id: rating.user_id})">
                    <img class="img-circle user-photo" width="34" height="34" ng-src="{{rating.user.medias[0].url}}"
                         src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    <strong>{{rating.user.first_name}} {{rating.user.last_name}}</strong>
                </a>
            </div>
            <div class="col-md-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="pull-left">
                                        Taste
                                    </div>
                                    <ng-rate-it ng-model="rating.taste_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-left">
                                        Visual:
                                    </div>
                                    <ng-rate-it ng-model="rating.visual_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-left">
                                        Quantity:
                                    </div>
                                    <ng-rate-it ng-model="rating.quantity_rating" max="5" read-only="true"></ng-rate-it>
                                </div>
                            </div>
                            <div class="col-md-1" ng-if="currentUser.id == rating.user_id">
                                <i ng-hide="textBtnForm.$visible" ng-click="textBtnForm.$show()"
                                   class="fa fa-edit fa-x"></i>
                                <i ng-click="RatingCtrl.destroyRating(rating.id)" class="fa fa-close fa-x"></i>
                            </div>
                        </div>
                    </div>
                    <!--<span class="text-muted">-->
                    <!--{{rating.updated_at}}-->
                    <!--</span>-->
                </div>
                <div class="panel-body">
                    <span e-style="width: 250%;" editable-textarea="rating.comment" e-form="textBtnForm"
                          onbeforesave="RatingCtrl.updateComment(rating, $data)">
                        {{rating.comment || 'empty'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <md-button class="md-raised md-primary" ng-click="RatingCtrl.getRatings()" ng-if="RatingCtrl.loadButton">Load More
    </md-button>
</div>

