<div id="RatingList">
	<div class="row" ng-repeat="rating in RatingCtrl.ratings">
		<div class="ui comments">
			<div class="comment">
				<a class="avatar" ui-sref="user.show({id: rating.user_id})">
					<img ng-src="{{rating.user.medias[0].url}}"
					     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</a>
				<div class="content">
					<a class="author" ui-sref="user.show({id: rating.user_id})">{{rating.user.first_name}}
						{{rating.user.last_name}}</a>
					<div class="metadata">
						<div class="date"><span am-time-ago="rating.created_at"></span></div>
						<div class="rating">
							taste: {{rating.taste_rating}} | visual: {{rating.visual_rating}} | quantity:
							{{rating.quantity_rating}}
						</div>
					</div>
					<div class="pull-right">
						<md-menu md-offset="0 -7">
							<md-button class="md-icon-button" aria-label="More"
							           ng-click="RatingCtrl.openMenu($mdMenu, $event)"><i class="material-icons">more_vert</i>
							</md-button>
							<md-menu-content width="2">
								<md-menu-item>
									<md-button class="reply" disabled="true">
										Reply
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item ng-if="currentUser.id == rating.user_id">
									<md-button class="save" ng-if="currentUser.id == rating.user_id"
									           ng-hide="textBtnForm.$visible"
									           ng-click="textBtnForm.$show()"><i class="fa fa-edit fa-x"></i>
										Edit
									</md-button>
								</md-menu-item>
								<md-menu-item ng-if="currentUser.id == rating.user_id">
									<md-button class="delete" ng-if="currentUser.id == rating.user_id"
									           ng-click="RatingCtrl.destroyRating(rating.id)"><i
											class="fa fa-close fa-x"></i>
										Delete
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<div class="text">
						<span e-style="width: 100%;" editable-textarea="rating.comment" e-form="textBtnForm"
						      onbeforesave="RatingCtrl.updateComment(rating, $data)">
                        {{rating.comment || 'empty'}}
                    </span>
					</div>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<br/>
	</div>
</div>
<infinite-load-button last-page="RatingCtrl.lastPage"
                      current-page="RatingCtrl.currentPage"
                      load-function="RatingCtrl.getRatings"></infinite-load-button>

