<div>
    <div class="row font-size-1-6em" ng-if="for === 'dish'">
        <a><i class="fa fa-facebook-square" socialshare
              socialshare-provider="facebook" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
        <a><i class="fa fa-twitter-square" socialshare
              socialshare-provider="twitter" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
        <a><i class="fa fa-pinterest-square" socialshare
              socialshare-provider="pinterest" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
    </div>

    <div ng-if="for === 'kitchen'">
        <a><i class="fa fa-2x fa-facebook-square" socialshare
              socialshare-provider="facebook" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
        <a><i class="fa fa-2x fa-twitter-square" socialshare
              socialshare-provider="twitter" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
        <a><i class="fa fa-2x fa-pinterest-square" socialshare
              socialshare-provider="pinterest" socialshare-url="{{document.URL}}" aria-hidden="true"></i></a>
    </div>
</div>