<div class="container" id="dishShow" ng-controller="RatingController as RatingCtrl" loader>

    <div class="col-md-8 dish-show-left">
        <!--Dish Header-->
        <div class="row dish-show-header">
            <!--Dish Name-->
            <div class="col-md-4">
                <h3 class="dish-show-name">{{DishCtrl.dish.name}}</h3>
            </div>
            <!--Dish Rating-->
            <div class="average col-md-8">
                <div class="col-md-4">
                    <div class="text-center">
                        Taste ({{RatingCtrl.avg.taste_rating}})
                        <ng-rate-it ng-model="RatingCtrl.avg.taste_rating" max="5" read-only="true"
                                    star-width="14" step="0.01"></ng-rate-it>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        Visual ({{RatingCtrl.avg.visual_rating}})
                        <ng-rate-it ng-model="RatingCtrl.avg.visual_rating" max="5" read-only="true"
                                    star-width="14" step="0.01"></ng-rate-it>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        Quantity ({{RatingCtrl.avg.quantity_rating}})
                        <ng-rate-it ng-model="RatingCtrl.avg.quantity_rating" max="5" read-only="true"
                                    star-width="14" step="0.01"></ng-rate-it>
                    </div>
                </div>
            </div>
        </div>
        <!--Dish Image-->
        <div class="row margin-bottom-1em">
            <img ng-src="{{DishCtrl.dish.medias[0].url}}" class="full-width" alt="Card image cap">
        </div>
        <!--Buyers Reviews / Ratings-->
        <div class="row">
            <div>
                <h4>Reviews / Ratings ({{RatingCtrl.totalItems}})</h4>
            </div>
            <div class="dish-rating">
                <ratings></ratings>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dish-show-right affix">
            <!--Description & Ingredients-->
            <div class="row margin-bottom-1em">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="Description">
                            <md-content class="md-padding">
                                <p>Cooked by: <a> {{DishCtrl.kitchen.name}} </a></p>
                                <br/>
                                <p class="card-text">{{DishCtrl.dish.description}}</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Ingredients">
                            <md-content class="md-padding">
                                <p>salt 1g</p>
                                <p>chicken 500g</p>
                                <p>water 500ml</p>
                                <p>2 eggs</p>
                                <p>angmotti</p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!--Order & Price-->
            <div class="row margin-bottom-1em">
                <md-content class="dish-show-order padding-1em">
                    <div class="text-center">
                        <div class="col-md-6">
                            <!--Amount Selector-->
                            <label>Amount</label>
                            <input type="number" min="1" max="10" class="form-control bfh-number">
                            <!--Dish Price-->
                            <div class="row">
                                <span id="dishPrice">${{DishCtrl.dish.price}}</span>
                            </div>
                        </div>
                        <!--Order & Add-to-cart-->
                        <div class="col-md-6">
                            <div>
                                <div class="row">
                                    <button class="small-margin btn-default btn-md">
                                        Add To Cart <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <button class="small-margin btn-danger btn-lg">Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
            <!--Social Media-->
            <div class="row text-center">
                <md-content class="padding-1em">
                    <div ng-if="DishCtrl.dish" class="col-md-6">
                        <span class="font-size-1-2em">Fork this Dish</span>
                        <!--Must load it "after" Dish data is available-->
                        <reaction-button reactionable="DishCtrl.dish" for="'fork'"></reaction-button>
                    </div>
                    <div class="col-md-6 font-size-1-2em">
                        Share it with
                        <share-button for="dish"></share-button>
                    </div>
                </md-content>
            </div>
        </div>
    </div>

</div>