<div>
    <div ng-if="for === 'dish'" id='map-dish-show'>
        <label><i class="material-icons">place</i>{{address}}</label>
        <ui-gmap-google-map ng-init="init()"
                            center='map.center'
                            zoom='map.zoom'
                            control="mapCtrl"
                            options="map.options"
                            ng-cloak>
            <ui-gmap-marker coords="marker.coords" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div ng-if="for === 'kitchen'" id='map-kitchen-show'>
        <label><i class="material-icons">place</i>{{address}}</label>
        <ui-gmap-google-map ng-init="init()"
                            center='map.center'
                            zoom='map.zoom'
                            control="mapCtrl"
                            options="map.options"
                            ng-cloak>
            <ui-gmap-marker coords="marker.coords" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>