<div ng-if="cartCtrl.carts">

	<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
		Your cart is empty
	</div>

	<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
		<div ng-repeat="(kitchenId, cart) in cartCtrl.carts" loader>
			<div ng-show="kitchenId">
				<h4>Kitchen Id: {{kitchenId}}</h4>
				<table class="table table-striped ngCart cart">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Quantity</th>
						<th>Amount</th>
						<th>Total</th>
					</tr>
					</thead>
					<tfoot>
					<tr ng-show="cart.taxRate">
						<td></td><td></td><td></td>
						<td>Tax ({{ ngCart.getTaxRate(kitchenId) }}%):</td>
						<td>{{ ngCart.getTax(kitchenId) | currency }}</td>
					</tr>
					<!--TODO: Will be optionally put later depending on shipping availability-->
					<!--<tr ng-show="ngCart.getShipping()">-->
					<!--<td></td>-->
					<!--<td></td>-->
					<!--<td></td>-->
					<!--<td>Shipping:</td>-->
					<!--<td>{{ ngCart.getShipping() | currency }}</td>-->
					<!--</tr>-->
					<tr>
						<td></td><td></td><td></td>
						<td>Service Fee:</td>
						<td>{{ ngCart.serviceFee(kitchenId) | currency }}</td>
					</tr>
					<tr>
						<td></td><td></td><td></td>
						<td>Total:</td>
						<td>{{ ngCart.totalCost(kitchenId) | currency }}</td>
					</tr>
					</tfoot>
					<tbody>
					<tr ng-repeat="item in cart.items">
						{{item}}
						<td><button ng-click="cartCtrl.removeItemById(item.getId(), item._kitchenId)"
						          class="glyphicon glyphicon-remove"></button>
						</td>
						<td>{{ item.getName() }}</td>
						<td>
							<button class="glyphicon glyphicon-minus" ng-disabled="item.getQuantity() == 1"
							        ng-class="{'disabled':item.getQuantity()==1}"
							        ng-click="cartCtrl.updateQty(item, -1, true)"></button>
							&nbsp;&nbsp;
							{{ item.getQuantity() | number }}&nbsp;&nbsp;
							<button class="glyphicon glyphicon-plus"
							        ng-click="cartCtrl.updateQty(item, 1, true)"></button>
						</td>
						<td>{{ item.getPrice() | currency }}</td>
						<td>{{ item.getTotal() | currency }}</td>
					</tr>
					</tbody>
				</table>
				<!--Order-->
				<div class="pull-right">
					<div class="row">
						<button class="small-margin btn-danger btn-lg"
						        ui-sref="checkout.billing.select({amount: ngCart.totalCost(kitchenId), kitchenId: kitchenId})">
							To
							Request Order
						</button>
					</div>
				</div>
				<br><br>
			</div>
		</div>

	</div>
</div>
